.App {
  width: min(50rem, 100%);
  margin-inline: auto;
  text-align: center;
}

.App button {
  margin-top: 5rem;
  width: 20rem;
  height: 4rem;

  border: none;
  border-radius: 0.5rem;

  background-color: white;
  cursor: pointer;

  font-weight: bold;
  text-transform: uppercase;
}