.card {
    margin-top: 2rem;
    width: 28rem;
    padding-block: 1.5rem;

    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.row-a,
.row-b {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.card-title,
.card-amount {
    font-size: 1.9rem;
    text-transform: capitalize;
}