.dice {
    width: 3.5rem;
    height: 3.5rem;

    border-radius: 0.38rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.dice-number {
    color: var(--secondary-text-color);
    font-weight: bold;

    display: grid;
    grid-template-columns: repeat(2, 1rem);
    grid-auto-rows: 1rem;

    justify-items: center;
    align-items: center;
}

.dots::before {
    content: "\2022";
    color: black;
    font-size: 2rem;
}
