.answer-btn {
    min-width: 6.6rem;
    min-height: 2.1rem;
    padding: 0.8rem;

    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2rem;
    color: var(--primary-color);
    background-color: transparent;
    
    border-radius: 0.8rem;
    border: 0.1rem solid var(--primary-color);

    cursor: pointer;
}

.selected {
    background-color: var(--selected-response-background-color);
}

.answered {
    background-color: var(--submited-response-background-color);
}

.correct {
    background-color: var(--correct-response-background-color);
}

.incorrect {
    border: 0.1rem solid var(--primary-color-transparent);
    color: var(--primary-color-transparent);
}