header {
    height: 7rem;
    box-shadow: 0 0.3rem 0.74rem rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: white;
}

nav {
    padding-left: 3rem;
}

.logo {
    width: 8.2rem;
    height: 2.5rem;
}