* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    font-size: 62.5%;
    --primary-color: hsla(0, 89%, 66%, 1);
    --text-color: hsla(250, 18%, 19%, 1);
    --link-color: hsla(254, 6%, 58%, 1);
}

body {
    font-size: 1.6rem;
}

.travels-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.6rem;
}