* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 62.5%;

    --backgroud-color: hsl(0, 0%, 100%);
    --text-color: hsla(0, 0%, 13%, 1);
    --gray-text-color: hsl(254, 6%, 58%);
}

body {
    font-size: 1.6rem;
    background-color: var(--backgroud-color);
}

section {
    padding-inline: 3.6rem;
}

.card-container {
    margin-top: 4.9rem;

    display: flex;
    gap: 1.8rem;
}