.header {
    width: 100vw;
    height: min(15vh, 100%);
    background-color: var(--primary-color);
    color: white;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title {
    text-align: center;
    margin-block: 1.5rem;
    padding-inline: 2rem;
}