* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  font-size: 62.5%;

  --twitter-color: #1da1f2;
  --new-tweet-btn-color: #1a8cd8;
  --lines-color: #2f3336;
  --primary-text-color: #e2e4e5;
  --retweet-text-color: #71767b;
  --secondary-text-color: #999b9c;
}

body {
  font-size: 1.6rem;

  background-color: #000;
  color: var(--primary-text-color);
}