.questions-container {
    margin-top: 4rem;
    margin-left: 7.5rem;
}

.submit-btn {
    margin-left: 7.5rem;
    margin-bottom: 4rem;

    background-color: var(--primary-color);
    color: white;

    padding: 1rem 2rem;
    width: 18rem;
    height: 4.5rem;

    border-radius: 1rem;
    border: none;

    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .questions-container {
        margin-left: 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-inline: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .answers-container {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
}