.project-card {
    width: 28rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 0.8rem;
    margin-bottom: 6rem;
}

.project-img {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.8rem;

    box-shadow: 0 0.2rem 0.4rem var(--primary-color);
}


.project-title {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;    
}

.project-description {
    text-align: center;
    padding-inline: 2rem;
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-btn {
    margin-top: 3.2rem;
}

.project-link-btn {
    background-color: var(--primary-color);
}

.project-github-repository-btn {
    background-color: grey;
}