.top-tracks-container {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-inline: 1rem;
    margin-block: 3rem;
}

.top-tracks-form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

#topTracks {
    border: none;
    border-radius: 0.4rem;

    padding: 0.6rem;
}

.top-tracks {
    margin-top: 3rem;

    display: flex;
    flex-direction: column;

    gap: 3rem;
}

.track {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-align: start;
}


.track-position {
    margin-right: 1rem;
    font-size: 2rem;
    width: 2.3rem;
}

.track-image {
    margin-right: 1rem;
}

.track-description {
    text-align: start;
    width: 100%;
}
