.app {
    background-color: var(--tenzie-background-color);
    border-radius: 1rem;

    width: min(32rem, 100%);   
    height: auto;
    padding-block: 3.2rem;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dice-container {
    width: 100%;
    height: auto;

    padding-inline: 3.4rem;
    margin-bottom: 3.5rem;

    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
    justify-content: center;
}