.card {
    width: 28rem;

    background-color: rgb(44, 197, 197);
    border-radius: 0.6rem;

    cursor: pointer;


    transition: transform 300ms ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    margin-top: 3rem;
}

.card h2 {
    margin-top: 2rem;
}

.card p {
    margin-block: 4rem;
}