main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;
}

.form {
    margin-top: 3.6rem;

    width: 100vw;
    display: grid;
    grid-template-columns: 23rem 23rem;

    grid-template-areas: 
    "input1 input2"
    "button button";

    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 1.7rem;

    padding-inline: 3.6rem;
}

input {
    padding-inline: 1.1rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    outline: none;
}


button {
    grid-area: button;

    height: 4rem;
    border-radius: 0.5rem;
    border: none;

    background: linear-gradient(to right, var(--linear-gradient-color), var(--linear-gradient-color2));
    color: white;

    cursor: pointer;
}

.image-container {
    position: relative;
    width: 47.7rem;

    display: flex;
    justify-content: center;
}

.meme-image {
    width: 100%;
}

.top-meme,
.bottom-meme {
    position: absolute;
    padding: 2rem;

    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: white;
    -webkit-text-stroke: 0.2rem black;
}


.top-meme {
    top: 0;
}

.bottom-meme {
    bottom: 0;
}