.form {
    width: min(60rem, 100%);
    margin-inline: auto;
    margin-top: 5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.search-input,
.search-btn {
    height: 3rem;

    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    outline: none;
    
    font-size: 1.6rem;
}

.search-input {
    width: min(50rem, 90%);
    text-indent: 1rem;
}

.search-btn {
    cursor: pointer;
    background-color: green;
    color: white;
    padding-inline: 1rem;
}
